.empty-state {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: var(--st-unit-8);
  gap: var(--st-unit-4);

  &__text-container {
    gap: var(--st-unit-2);
  }

  &__subtitle,
  &__text {
    margin: 0;
    text-align: center;
    line-height: var(--st-unit-6);
  }

  &__link-text {
    line-height: var(--st-font-size-137);
  }
}
