.edit-po-modal {
  div[class*='_content_'] {
    padding: 0;
  }

  &[class*='_--size-auto_'] {
    width: calc(var(--st-unit-23) * 6);
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--st-unit-6);
    
    & * {
      margin: 0;
    }

    & > *:first-child {
      max-width: calc(100% - var(--st-unit-13));
    }

    &__close-button.close-icon {
      padding: 0;
      min-width: 0;
      width: var(--st-unit-8);
      height: var(--st-unit-8);
      border-radius: 100%;
    }
  }

  &__body {
    padding: 0 var(--st-unit-6) var(--st-unit-6);

    &__section {
      gap: var(--st-unit-4);

      &__title {
        line-height: var(--st-unit-6);
      }

      &__item {
        gap: var(--st-unit-2);
      }
    }

    &__form-field {
      &-label--required {
        line-height: calc(var(--st-unit-6) - 2);
        
        &::after {
          content: "*";
          color: var(--st-color-error);
        }
      }

      &-error-messages {
        margin: 0;
        padding: 0;
        text-align: left;

        & span {
          margin: 0;
        }
      }
    }
  }

  &__footer {
    display: flex;
    padding: var(--st-unit-6);
    border-top: 1px solid var(--st-color-gray-300);

    &__actions{
      gap: var(--st-unit-4);
    }
  }
}
