html {
  height: 100%;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: var(--st-color-gray-100);
  font-family: 'Helvetica Neue', helvetica, arial, 'Lucida Grande', sans-serif;
}

* {
  box-sizing: border-box;
}

.starc {
  height: 100%;
}
