.delivery-option {
  &__alert {
    button {
      width: var(--st-unit-5);
      height: var(--st-unit-5);
      display: flex;
      justify-content: center;
    }

    svg {
      width: var(--st-unit-5);
      height: var(--st-unit-5);
    }
  }

  &__alert-text {
    border-radius: var(--st-unit-1);
  }

  &__alert-background {
    background-color: var(--st-color-gray-100);
    border-radius: var(--st-unit-1);
    padding: 0 calc(var(--st-unit-1) + 1px);
  }
}
